jaeger:
  image:
    repository: jaegertracing/all-in-one
    tag: "latest"
    pullPolicy: IfNotPresent
  storage:
    size: 10Gi
  port: 16686
  resources:
    limits:
      cpu: 1000m
      memory: 1Gi
    requests:
      cpu: 500m
      memory: 512Mi

ingress:
  enabled: true
  className: "nginx"
  host: jaeger.cloudflex.tr
  annotations: {}
  tls:
    enabled: true
    secretName: "cloudflex-wildcard-tls"
