prometheus:
  image:
    repository: prom/prometheus
    tag: "v2.48.0"
    pullPolicy: IfNotPresent
  storage:
    size: 50Gi
  port: 9090
  resources:
    limits:
      cpu: 2000m
      memory: 4Gi
    requests:
      cpu: 1000m
      memory: 2Gi

ingress:
  enabled: true
  className: "nginx"
  host: prometheus.cloudflex.tr
  annotations: {}
  tls:
    enabled: true
    secretName: "cloudflex-wildcard-tls"
