keycloak:
  image:
    repository: quay.io/keycloak/keycloak
    tag: "latest"
    pullPolicy: IfNotPresent
  storage:
    size: 10Gi
  port: 8080
  admin:
    user: admin
    password: admin123
  database:
    vendor: postgresql
    host: postgresql-database.monitoring.svc.cluster.local
    port: 5432
    database: keycloak
    username: keycloak
    password: keycloak123
  resources:
    limits:
      cpu: 2000m
      memory: 2Gi
    requests:
      cpu: 1000m
      memory: 1Gi

ingress:
  enabled: true
  className: "nginx"
  host: keycloak.cloudflex.tr
  annotations: {}
  tls:
    enabled: true
    secretName: "cloudflex-wildcard-tls"
