grafana:
  image:
    repository: grafana/grafana
    tag: "10.2.0"
    pullPolicy: IfNotPresent
  storage:
    size: 10Gi
  port: 3000
  admin:
    user: admin
    password: admin
  resources:
    limits:
      cpu: 1000m
      memory: 1Gi
    requests:
      cpu: 500m
      memory: 512Mi

ingress:
  enabled: true
  className: "nginx"
  host: grafana.cloudflex.tr
  annotations: {}
  tls:
    enabled: true
    secretName: "cloudflex-wildcard-tls"
