database:
  image:
    repository: postgres
    tag: "15-alpine"
    pullPolicy: IfNotPresent
  storage:
    size: 10Gi
  credentials:
    databaseName: votingdb
    username: votinguser
    password: votingpass
  resources:
    limits:
      cpu: 500m
      memory: 512Mi
    requests:
      cpu: 250m
      memory: 256Mi
