redis:
  image:
    repository: redis
    tag: "7-alpine"
    pullPolicy: IfNotPresent
  storage:
    size: 10Gi
  port: 6379
  password: redis123
  resources:
    limits:
      cpu: 1000m
      memory: 1Gi
    requests:
      cpu: 500m
      memory: 512Mi

ingress:
  enabled: false  # Redis genelde internal kullanılır
  className: "nginx"
  host: redis.cloudflex.tr
  annotations: {}
  tls:
    enabled: true
    secretName: "cloudflex-wildcard-tls"
